<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body style="background-color: #EEEEEE;">
    <div class="card" style="width: 66%; margin: 2em auto;">
      <div class="card-body">
        <i
          id="status-icon"
          class="fas fa-question-circle"
          style="color: #111111;"
          >
        </i>
        <span id="status-display">
          Checking for dead links...
        </span>
      </div>
    </div>
    <script>
      fetch("/check").then(res => {console.log(res); return res.json();}).then(({ status, errorUrls }) => {
        const [icon, display] = ["status-icon", "status-display"].map(id => document.getElementById(id));
        icon.style.color = status ? "#3CB700" : "#FF0015";
        icon.classList.remove("fa-question-circle");
        icon.classList.add(status ? "fa-check-circle" : "fa-times-circle");
        display.innerHTML = status
          ? "No dead links detected!"
          : `
              Dead links detected:
              <ul>${errorUrls.map(url => `<li><a href="${url}">${url}</a></li>`).join("")}</ul>
            `;
      })
    </script>
  </body>
</html>
